* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: rgb(255, 255, 255);
  margin: 2%;
}
.diceFace {
  margin-top: 2%;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid rgb(196, 98, 98);
  border-radius: 15%;
  background-color: bisque;
  box-shadow: 4px 4px 8px 2px rgba(78, 78, 78, 0.2);

  position: absolute;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.beads {
  width: 1rem;
  height: 1rem;
  border: 1.5px solid rgb(196, 98, 98);
  border-radius: 50%;
  background-color: black;
  position: relative;
  padding: auto;
  margin: auto;

  box-shadow: 4px 4px 8px 2px rgba(78, 78, 78, 0.2);
}

.D2 {
  margin-right: 0.5rem;
}
.diceI {
  pointer-events: none;
  position: relative;
  /* border: 2px solid; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(137, 43, 226, 0.486);
}
.Dice {
  display: inline-flexbox;
  /* border: 2px green solid; */
}
.dicesnbtn {
  display: flex;
  justify-content: space-around;
}
.diceContainer {
  margin: auto;
  width: 21rem;
  /* position: relative;  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20rem;
  background-color: rgb(172, 250, 224);
  border: 2px rgb(94, 131, 124) solid;
  /* border: 2px solid; */
  border-radius: 0.7rem;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

#intro {
  font-family: "Playpen Sans", cursive;
  font-weight: 600;
  font-size: xx-large;
  /* border: 2px red solid; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}
p {
  font-family: "Playpen Sans", cursive;
  font-weight: 32;
  font-size: large;
}
.player {
  /* border: 2px yellow solid; */
  text-align: center;
  padding-bottom: 10px;
}

.crown {
  position: relative;
  text-align: center;
  visibility: hidden;
  margin-top: 1rem;
}

.animated-button {
  position: relative;
  padding: 5px 10px;
  left: 0.4rem;
  background-color: #6aadda;
  color: #fff;
  border: none;
  cursor: pointer;
  animation: bounce 0.5s; /* Apply animation named 'bounce' with a duration of 0.5s */
  width: 4rem;
  height: 2.5rem;
  border-radius: 10px;
  border: 2px salmon solid;
  align-self: flex-end;
  bottom: -100px;
}

/* Define the 'bounce' animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
